<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
					
				<div class="row user-product ">
{{!-- 
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Related Products</h3>
						</div>
					</div> --}}

<section>
	{{#each products}}
                                		<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<a href="#"><div class="product-img">
								

								{{!-- <a href="/image-view?id={{this._id}}"><img src="/product-images/{{this._id}}.jpg"  alt="" style="height: 294px;px"></a> --}}
								<img src="/product-images/{{this.products._id}}.jpg"  alt="" style="height: 294px;px" >
								<div class="product-label">
									{{!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button> --}}
									{{!-- <span class="sale">-30%</span> --}}
								</div>
							</div></a>
							<div class="product-body">
								<h3 class="product-name"><a href="#">{{this.products.Title}}</a></h3>
								<p class="product-discription">{{this.products.Description}}</p>
								<p class="product-category">{{thisproducts.Category}}</p>
								<h4 class="product-price">₹{{this.products.Price}}<del class="product-old-price">₹990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns" >
                                                                                          <h5>quantity : {{this.quantity}}</h5>
									{{!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button> --}}
								</div>
							</div>
							<div class="add-to-cart">
                                                                               
								{{!-- <button  onclick="addToCart('{{this._id}}')" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button> --}}
							</div>
						</div>
					</div>
					<!-- /product -->
{{/each}}
</section>
</div>
			</div>
			</div>
